@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
}

strong {
    margin-top: 4px;
    font-weight: 600;
    font-size: 12px;
}

body {
    background: #0C023E;
    display: flex;
    justify-content: space-between;
}

/* utility class */
.bg-dark {
    background:#2F387B;
}

.bg-light {
    background: #f4f4f4;
}

.main-header {
    font-weight: 400;
    font-size: 16px;
}

.secondary-heading {
    font-weight: 400;
    font-size: 12px;
    color: #8C909C;
}

.tertiary-heading {
    font-size: 16px;
    font-weight: 500;
}

.blue-heading {
    font-size: 16px;
    font-weight: 500;
    color: #2F387B;
}

.btn {
    border: 1px solid #8C909C;
    padding: 1px 4px;
    border-radius: 4px;
    background: #0C023E;
    cursor: pointer;
}

.btn:hover {
    background-color: #8C909C;
    border: 1px solid #f4f4f4;
    color: #333;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.row2{
    display: flex;
    align-items: center;
    margin: 4px 8px;
}

.column {
    display: flex;
    flex-direction: column;
}

.bullet{
    list-style: disc;
    font-weight: 100;
    margin: 4px 8px;
    list-style-position: outside;
    padding: 0 8px;
}

.bullet li {
    color: #7991BD;
    margin: 4px 8px;
}

.bullet li span{
    text-align: justify;
    color: #f4f4f4;
}

.box {
    margin: 0 10px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    border: 2px solid #7991BD;
}

.box > h3, p {
    margin: 4px 8px;
}

.box .row2 span {
    font-size: 24px;
}

.strong {
    font-weight: 600;
    font-size: 16px;
}

.box .bullet li span {
    font-size: 12px;
    color: #333;
    font-weight: 400;
}

.line {
    border: 1px solid #2F387B;
    width: 100%;
    margin: 8px 0;
}

.seperate {
    border: 4px #0C023E solid;
    width: 100%;
    margin: 0px 8px;
}

/* aside */
.sidebar {
    width: 25%;
    height: fit-content;
    margin: 8px;
    border-radius: 2px;
    border: 1px solid #2F387B;
    color: #f4f4f4;
}

/* intro */
.sidebar .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.sidebar .intro img {
    width: 148px;
    border-radius: 50%;
    margin: 8px;
    padding: 8px;
}

.cv span{
    color: #f4f4f4;
    font-size: 20px;
}

.cv a, .linkedin a, .contact a{
    text-decoration: none;
    color: #f4f4f4;
    font-size: 12px;
    font-weight: 400;
}

/* education */
.education .column h3 {
    padding: 0px 8px 4px;
}

.education .column p {
    padding: 0 8px;
}

/* summary */
.summary h3 {
    padding-left: 8px;
}

/* coding */
.coding-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h3 {
    margin: 8px;
}

.skills .progress-bar {
    background: #2F387B;
    margin: 0px 8px;
    height: 8px;
}

.progress-bar div {
    height: 8px;
    background: #7991BD;
}

.c {
    width: 50%;
}

.java {
    width: 75%;
}

.javas {
    width: 80%;
}

.mssql {
    width: 78%;
}

/* operating */
.operating h3 {
    margin: 0 8px;
}

/* tools */
.tools h3 {
    margin: 0 8px;
}

/* methodology */
.methodology h3 {
    margin: 0 8px;
}

/* work experience */
#right {
    width: 75%;
    display: flex;
    flex-direction: column;
    color: #333;
}

#right p {
    font-size: 16px;
    font-weight: 400;
}

.title {
    background: #f4f4f4;
    margin: 8px 8px 0;
    height: 32px;
    display: flex;
    align-items: center;
    border: 2px solid #7991BD;
}

.title h1{
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
}

/* footer */
footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media queries - phone */
@media (max-width: 768px) {
    body {
        display: block;
        width: 100%;
    }
    
    .seperate {
        margin: 0;
    }

    .tertiary-heading {
        font-size: 16px;   
    }

    .sidebar {
        width: 100%;
        margin: 0;
    }

    #right {
        width: 100%;
    }

    #right .title {
        margin: 8px 0 0 0;
    }

    #right .box {
        margin: 0;
    }

    footer {
        height: fit-content;
        display: block;
    }
}
